[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
aws-sam-cli = "*"

[packages]
geckoboard-py = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"

[requires]
python_version = "3"
