[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
geckoboard-py = "*"
google-api-python-client = "*"
oauth2client = "*"

[requires]
python_version = "3.7"

[scripts]
clean = "rm -r $PWD/build/"
install = "pip install -r requirements.txt -t build"
build = "cp -R geekoboard/app.py credentials ./build"
