[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
geckoboard-py = "*"
google-api-python-client = "*"
oauth2client = "*"
aws-sam-cli = "*"

[requires]
python_version = "3.7"
